<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">{%name%}, Engineer</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: <span>{%id%}</span></li>
            <li class="list-group-item">Email: <span>{%email%}</span></li>
            <li class="list-group-item">Github: <span><a href=`https://github.com/{%github%}`>{%github%}<a></span></li>
    
          </ul>
    </div>
</div>